boto3==1.34.83
botocore==1.34.83
future==0.18.3
humanize==4.9.0
jmespath==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
pefile==2022.5.30
prompt-toolkit==3.0.43
Pygments==2.17.2
python-dateutil==2.9.0.post0
rich==13.7.1
s3transfer==0.10.1
six==1.16.0
urllib3==2.2.1
wcwidth==0.2.13